@media only screen and (min-width: 600px) and (max-width: 1440px){
    #wholePage{
        width: 100%;
        margin: 0 auto;
        min-height: 100%;
    }
    body{
        background-color: black;
        background-size:100%;
        font-family: 'Oswald';
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    #header_location{
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    #logo_location{
        height: 10vh;
    }
    #title_location{
        font-size: 6vh;
        display: flex;
        align-items: center;
        color: wheat;
    }
    #location_name{
        font-size: 10vh;
        font-family: Facon;
    }
    #location_name_wrapper{
        padding: 5vh 0;
    }
    #navigation_zone{
      font-size: 5vh;
      padding-left: 2vh;
    }
    #header_contents_container{
      display: flex;
      padding-right: 2vh;
    }
    .link_comn{
      font-size: 2vh;
      color: rgb(255, 255, 255);
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 900;
      transition: all 1s ease;
    }
    .navigation_bars{
      transition: all 2s ease-in-out;
      color: wheat;
    }
    .link_comn:hover{
      text-decoration: underline;
      color: #ffffff;
    }
    .dropdown_menu_navigation{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2vh 0vh;
      border-radius: 2vh;
      gap: 2vh;
      position: absolute;
      z-index: 10;
      background: rgb(130,10,10);
      background: linear-gradient(90deg, rgba(130,10,10,1) 12%, rgba(245,222,179,1) 94%);
      opacity: 0;
      transition: all 0.5s ease;
    }
    #forthPart{
        display: flex;
        flex-direction: column;
        height: 100vh;
        gap: 10vh;
        position: relative;
      }
      #prices_title{
        color: wheat;
        width: max-content;
        font-family: Facon;
        font-size: 6vh;
        padding-top: 2vh;
        text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000;
      }
      #prices_title_container{
        display: flex;
        justify-content: center;
      }
      #prices_wrapper{
        display: flex;
        justify-content: center;
        gap: 10vh;
      }
      #standard_price{
        color: white;  
        font-size: 3vh;
        width: 40%;
        transition: all 0.5s ease;
      }
      #title_pricing{
        text-align: center;
        border-radius: 10px;
        background-color: wheat;
        color: black;
      }
      #contents_wrapper{
        display: flex;
        flex-direction: column;
        gap: 4vh;
        background-color: black;
        border-radius: 10px;
      }
      #students_price{
        color: white;  
        font-size: 3vh;
        width: 40%;
        transition: all 0.5s ease;
      }
      #title_pricingv2{
        text-align: center;
        border-radius: 10px;
        background-color: rgb(86, 0, 0);
        color: rgb(255, 255, 255);
      }
      #contents_wrapperv2{
        display: flex;
        flex-direction: column;
        gap: 4vh;
        border-radius: 10px;
        background-color: black;
      }
      #the_wierd_checkv2{
        position: relative;
        top: 1.5vh;
      }
      #the_wierd_check{
        position: relative;
        top: 1.5vh;
      }
      #forthPart .fa-solid{
        position: relative;
        left:0.5vh;
      }
      .button_wrapper{
        display: flex;
        justify-content: center;
      }
      #join_button_2{
        width: 100%;
        font-size: 3vh;
        background-color: rgb(121, 0, 0);
        color: white;
        border-radius: 10px;
        display: flex;
        gap: 1vh;
      }
      #join_button_1{
        width: 100%;
        font-size: 3vh;
        background-color: wheat;
        border-radius: 10px;
        display: flex;
        gap: 1vh;
      }
      #standard_price:hover{
        width: 45%;
      }
      #standard_price:hover #join_button_1{
        font-size: 3.3vh;
      }
      #icon_join_1{
        transition: all 1s ease;
      }
      #students_price:hover{
        width: 45%;
      }
      #students_price:hover #join_button_2{
        font-size: 3.3vh;
      }
      #icon_join_2{
        transition: all 1s ease;
      }
      .content1{
        transition: all 0.5s ease;
        display: flex;
        align-items: baseline;
        gap: 2vh;
      }
      .content1:hover{
        color: #f5deb3;
        cursor: pointer;
      }
      .contentv2{
        transition: all 0.5s ease;
        display: flex;
        align-items: baseline;
        gap: 2vh;
      }
      .contentv2:hover{
        color: rgb(136, 9, 9);
        cursor: pointer;
      }
    #background4{
        width: 100%;
        height: 110%;
        position: absolute;
        object-fit: cover;
        z-index: 0;
        opacity: 0.5;
      }
      .move_left{
        animation-name: move_left;
        animation-duration: 1.5s;
        position: relative;
        animation-delay: 0.5s;
      }
      @keyframes move_left{
        0%{
          left: 0vh;
        }
        50%{
          left: 5vh;
        }
        100%{
          left: 0vh;
        }
      }
      .move_right{
        animation-name: move_right;
        animation-duration: 1.5s;
        position: relative;
        animation-delay: 0.5s;
      }
      @keyframes move_right{
        0%{
          right: 0vh;
        }
        50%{
          right: 5vh;
        }
        100%{
          right: 0vh;
        }
      }
      #theLastPart{
        background-color: black;
        color: white;
        height: max-content;
    }
    #first_section{
        display: flex;
        justify-content: space-between;
        width: 90%;
    }
    #second_section{
        display: flex;
        justify-content: space-between;
        font-size: 2vh;
        width: 90%;
    }
    #logo_name_moto{
        display: flex;
        gap: 3vh;
        flex-direction: column;
    }
    #Contacts_wrapper{
        font-size: 3vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #logo_title{
        display: flex;
        align-items: baseline;
        flex-direction: column;
    }
    #moto_wrapper_v2{
        position: relative;
        top: -1vh;
        left: 1vh;
        font-size: 3vh;
    }
    #title_v2{
        font-size: 6vh;
    }
    .flex_comon{
        display: flex;
        align-items: baseline;
        gap: 1vh;
    }
    #location_wrapper{
        transition: all 0.5s ease;
        color: white;
        text-decoration: none;
    }
    #location_wrapper:hover{
        color: rgb(121, 0, 0);
        cursor: pointer; 
        text-decoration: underline;
    }
    #link_location{
        transition: all 0.5s ease;
        color: #fff;
        text-decoration: none;
    }
    #location{
        transition: all 0.5s ease;
    }
    #location_wrapper:hover #location{
        color: rgb(121, 0, 0);
    }
    .position_rel_comon{
        position: relative;
        top: -1vh;
    }
    #LogoMMGYM_v2{
        width: 15vh;
    }
    .comn_link{
        color: white;
        text-decoration: none;
        transition: all 0.5s ease;
    }
    .comn_link:hover{
        text-decoration: underline;
        color: rgb(121, 0, 0); 
    }
    .comn_icon{
        color: white;
        transition: all 0.5s ease;
    }
    .comn_icon:hover{
        color: rgb(121, 0, 0); 
    }
    .comn_icon2{
        color: rgb(0, 0, 0);
        position: relative;
        top: -1vh;
        left: -1vh;
        font-size: 3vh;
        padding: 0.5vh;
        transition: all 0.5s ease;
    }
    #line_wrapper{
        display: flex;
        justify-content: center;
        position: relative;
        top: -1vh;
        height: 2vh;
        align-items: center;
    }
    #line{
        height: 2px;
        background-color: grey;
        width: 90%;
    }
    .comn_space{
        display: flex;
        gap: 2vh;
    }
    #second_section_wrapper{
        display: flex;
        justify-content: center;
    }
    #first_section_wrapper{
        display: flex;
        justify-content: center;
    }
}