@media only screen and (min-width: 600px) and (max-width: 1440px){
    @font-face {
      font-family: "Facon";
      src: url(Fonts/Facon.ttf);
    }
    #header_location{
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    #logo_location{
        height: 10vh;
    }
    #title_location{
        font-size: 6vh;
        display: flex;
        align-items: center;
        color: #fff;
    }
    #location_name{
        font-size: 10vh;
        font-family: Facon;
    }
    #location_name_wrapper{
        padding: 5vh 0;
    }
    .comn_link{
        color: wheat;
        text-decoration: none;
        transition: all 0.5s ease;
    }
    #navigation_zone{
      font-size: 5vh;
      padding-left: 2vh;
    }
    #header_contents_container{
      display: flex;
      padding-right: 2vh;
    }
    .link_comn{
      font-size: 2vh;
      color: rgb(255, 255, 255);
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 900;
      transition: all 1s ease;
    }
    .navigation_bars{
      transition: all 2s ease-in-out;
      color: #fff;
    }
    .link_comn:hover{
      text-decoration: underline;
      color: #000000;
    }
    .dropdown_menu_navigation{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2vh 0vh;
      border-radius: 2vh;
      gap: 2vh;
      position: absolute;
      z-index: 10;
      background: rgb(130,10,10);
      background: linear-gradient(90deg, rgba(130,10,10,1) 12%, rgba(245,222,179,1) 94%);
      opacity: 0;
      transition: all 0.5s ease;
      pointer-events: none;
    }
    #fifthPart{
      height: 100vh;
      background-repeat: no-repeat;
      background-size: cover
    }
    #background5{
      width: 100%;
      height: 110%;
      position: absolute;
      object-fit: cover;
      z-index: 0;
      opacity: 0.5;
    }
    #personal_trainer_wrapper{
      display: flex;
      flex-direction: column;
    }
    #personal_trainer_contents_container{
      display: flex;
      flex-direction: column;
      gap: 5rem;
      overflow: hidden;
    }
    #image_trainer1{
      height: 20vh;
    }
    #image_trainer2{
      height: 15vh;
    }
    #personal_trainer_title{
      font-size: 4vh;
      font-family: Facon;
      color: rgb(255, 255, 255);
      padding-top: 2vh;
      padding-bottom: 2vh;
      text-align: center;
      text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000;
      position: relative;
      z-index: 2;
    }
    .aboutMe_trainer{
      margin-left: 2rem;
      list-style-type: disc;
    }
    #personal_trainer_part1{
      display: flex;
      justify-content: center;
    }
    .comn_image_size{
      width: 20vh;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
    }
    #personal_trainer_part2{
      display: flex;
      justify-content: space-around;
      gap: 10%;
    }
    .content_trainer_wrapper{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 3vh;
      gap: 2vh;
    }
    .personal_trainer_container1{
      display: flex;
      color: rgba(0, 0, 0, 0.8);
      background-color: rgb(255, 255, 255);
      width: 70vh;
      border-radius: 10px;
      gap: 1.5vh;
      box-shadow: 22px 25px 48px 8px rgba(0, 0, 0, 0.55);
      transition: all 1s ease;
      height: 35vh;
      opacity: 0;
      filter: blur(5px);
      transform: translateX(100%);
      transition-delay: 400ms;
    }
    .personal_trainer_container1:hover{
      color: rgb(255, 255, 255);
      background-color: rgb(0, 0, 0);
      cursor:pointer;
    }
    .personal_trainer_container1 img{
      object-fit: cover;
    }
    .personal_trainer_container2{
      display: flex;
      color: rgba(0, 0, 0, 0.8);
      background-color: rgb(255, 255, 255);
      width: 70vh;
      border-radius: 10px;
      gap: 1.5vh;
      box-shadow: 22px 25px 48px 8px rgba(0, 0, 0, 0.55);
      transition: all 1s ease;
      height: 35vh;
      opacity: 0;
      filter: blur(5px);
      transform: translateX(-100%);
      transition-delay: 200ms;
    }
    .personal_trainer_container2:hover{
      color: rgb(255, 255, 255);
      background-color: rgb(0, 0, 0);
      cursor:pointer;
    }
    .personal_trainer_container2 img{
      object-fit: cover;
    }
    #image_trainer1{
      height: 50%;
    }
      #wholePage{
        width: 100%;
        margin: 0 auto;
        min-height: 100%;
      }
      body{
        background-color: black;
        background-size:100%;
        font-family: 'Oswald';
      }
      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      .personal_trainer_container1:hover .comn_icon2{
        color:#fff;
      } 
      .personal_trainer_container2:hover .comn_icon2{
        color:#fff;
      } 
      .trainer_move_left{
        transform: translateX(0);
        opacity: 1;
        filter: blur(0);
      }
      .trainer_move_right{
        transform: translateX(0);
        opacity: 1;
        filter: blur(0);
      }
      #image_trainer1{
        height: 20vh;
      }
      #image_trainer2{
        height: 15vh;
      }
      .icons_container{
        text-align: end;
      }
      .comn_icon2{
        color: rgb(0, 0, 0);
        position: relative;
        top: -1vh;
        left: -1vh;
        font-size: 3vh;
        padding: 0.5vh;
        transition: all 0.5s ease;
      }
      #theLastPart{
        background-color: black;
        color: white;
        height: max-content;
    }
    #first_section{
        display: flex;
        justify-content: space-between;
        width: 90%;
    }
    #second_section{
        display: flex;
        justify-content: space-between;
        font-size: 2vh;
        width: 90%;
    }
    #logo_name_moto{
        display: flex;
        gap: 3vh;
        flex-direction: column;
    }
    #Contacts_wrapper{
        font-size: 3vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #logo_title{
        display: flex;
        align-items: baseline;
        flex-direction: column;
    }
    #moto_wrapper_v2{
        position: relative;
        top: -1vh;
        left: 1vh;
        font-size: 3vh;
    }
    #title_v2{
        font-size: 6vh;
    }
    .flex_comon{
        display: flex;
        align-items: baseline;
        gap: 1vh;
    }
    #location_wrapper{
        transition: all 0.5s ease;
        color: white;
        text-decoration: none;
    }
    #location_wrapper:hover{
        color: rgb(121, 0, 0);
        cursor: pointer; 
        text-decoration: underline;
    }
    #link_location{
        transition: all 0.5s ease;
        color: #fff;
        text-decoration: none;
    }
    #location{
        transition: all 0.5s ease;
    }
    #location_wrapper:hover #location{
        color: rgb(121, 0, 0);
    }
    .position_rel_comon{
        position: relative;
        top: -1vh;
    }
    #LogoMMGYM_v2{
        width: 15vh;
    }
    .comn_link{
        color: white;
        text-decoration: none;
        transition: all 0.5s ease;
    }
    .comn_link:hover{
        text-decoration: underline;
        color: rgb(121, 0, 0); 
    }
    .comn_icon{
        color: white;
        transition: all 0.5s ease;
    }
    .comn_icon:hover{
        color: rgb(121, 0, 0); 
    }
    .comn_icon2{
        color: rgb(0, 0, 0);
        position: relative;
        top: -1vh;
        left: -1vh;
        font-size: 3vh;
        padding: 0.5vh;
        transition: all 0.5s ease;
    }
    #line_wrapper{
        display: flex;
        justify-content: center;
        position: relative;
        top: -1vh;
        height: 2vh;
        align-items: center;
    }
    #line{
        height: 2px;
        background-color: grey;
        width: 90%;
    }
    .comn_space{
        display: flex;
        gap: 2vh;
    }
    #second_section_wrapper{
        display: flex;
        justify-content: center;
    }
    #first_section_wrapper{
        display: flex;
        justify-content: center;
    }
}
