@media only screen and (max-width: 600px){
    #wholePage{
        width: 100%;
        margin: 0 auto;
        min-height: 100%;
    }
    body{
        background-color: black;
        background-size:100%;
        font-family: 'Oswald';
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    #header_location{
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    #logo_location{
        height: 5vh;
    }
    #title_location{
        font-size: 4vh;
        display: flex;
        align-items: center;
        color: wheat;
    }
    #location_name{
        font-size: 8vh;
        font-family: Facon;
    }
    #location_name_wrapper{
        padding: 5vh 0;
        justify-content: center;
        display: flex;
        align-items: center;
        color: wheat;
    }
    #location_map{
        padding: 4vh 0vh;
        height: 78vh;
        justify-content: center;
        display: flex;
    }
    .comn_link{
        color: wheat;
        text-decoration: none;
        transition: all 0.5s ease;
    }
    #navigation_zone{
      font-size: 5vh;
      padding-left: 2vh;
    }
    #header_contents_container{
      display: flex;
      padding-right: 2vh;
      align-items: center;
    }
    .link_comn{
      font-size: 1vh;
      color: rgb(255, 255, 255);
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 900;
      transition: all 1s ease;
    }
    .navigation_bars{
      transition: all 2s ease-in-out;
      color: wheat;
    }
    .link_comn:hover{
    text-decoration: underline;
    color: wheat;
    text-shadow: 0 0 10px gold;
  }
    .dropdown_menu_navigation{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2vh 0vh;
      border-radius: 2vh;
      gap: 2vh;
      position: absolute;
      z-index: 10;
      background: black;
      opacity: 0;
      transition: all 1s ease;
      pointer-events: none;
    }
    #navigation_zone:hover .dropdown_menu_navigation{
      opacity: 1;
      pointer-events: all;
    }
    #theLastPart{
        background-color: black;
        color: white;
        height: max-content;
      }
      #first_section{
        display: flex;
        justify-content: space-between;
        width: 90%;
      }
      #second_section{
        display: flex;
        justify-content: space-between;
        font-size: 1.5vh;
        width: 90%;
      }
      #logo_name_moto{
        display: flex;
        gap: 3vh;
        flex-direction: column;
      }
      #Contacts_wrapper{
        font-size: 1.5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      #logo_title{
        display: flex;
        flex-direction: column;
      }
      #moto_wrapper_v2{
        position: relative;
        top: -1vh;
        left: 1vh;
        font-size: 2vh;
      }
      #title_v2{
        font-size: 3vh;
          position: relative;
          top: 0vh;
      }
      .flex_comon{
        display: flex;
        align-items: baseline;
        gap: 1vh;
        font-family: Arial, Helvetica, sans-serif;
      }
      #location_wrapper{
        transition: all 0.5s ease;
        color: white;
        text-decoration: none;
      }
      
      #location_wrapper:hover{
        color: rgb(121, 0, 0);
        text-decoration: underline;
      }
      #link_location{
        transition: all 0.5s ease;
        color: #fff;
        text-decoration: none;
      }
      .position_rel_comon{
        position: relative;
        top: -1vh;
      }
      #LogoMMGYM_v2{
        width: 10vh;
      }
      .comn_icon{
        color: white;
        transition: all 0.5s ease;
      }
      .comn_icon:hover{
        color: rgb(121, 0, 0); 
      }
      #line_wrapper{
        display: flex;
        justify-content: center;
        position: relative;
        top: -1vh;
        height: 2vh;
        align-items: center;
      }
      #line{
        height: 2px;
        background-color: grey;
        width: 90%;
      }
      .comn_space{
        display: flex;
        gap: 1vh;
        text-align: center;
      }
      #second_section_wrapper{
        display: flex;
        justify-content: center;
      }
      #first_section_wrapper{
        display: flex;
        justify-content: center;
      }
      #image_trainer2{
        height: 10vh;
      }
}
