@media only screen and (min-width: 1440px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        font-family: 'Oswald';
        color: wheat;
        background-color: black;
    }
    #header_location{
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    #logo_location{
        height: 10vh;
    }
    #title_location{
        font-size: 6vh;
        display: flex;
        align-items: center;
        color: wheat;
    }
   #location_map{
    height: 65vh;
    justify-content: center;
    display: flex;
    padding: 4vh 0vh;
   }
    #location_name{
        font-size: 10vh;
        font-family: Facon;
    }
    #location_name_wrapper{
        padding: 5vh 0;
    }
    #navigation_zone{
      font-size: 5vh;
      padding-left: 2vh;
    }
    #header_contents_container{
      display: flex;
      padding-right: 2vh;
    }
    .link_comn{
      font-size: 2vh;
      color: rgb(255, 255, 255);
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 900;
      transition: all 1s ease;
    }
    .navigation_bars{
    opacity: 0;
    position: absolute;
}
  }
.link_comn:hover{
    text-decoration: underline;
    color: wheat;
    text-shadow: 0 0 10px gold;
  }
  .dropdown_menu_navigation{
    display: flex;
    align-items: center;
    gap: 2vh;
    padding-top: 3vh;
  }
   #navigation_zone:hover .dropdown_menu_navigation{
      opacity: 1;
      pointer-events: all;
    }
    #theLastPart{
        background-color: black;
        color: white;
        height: max-content;
      }
      #first_section{
        display: flex;
        justify-content: space-between;
        width: 90%;
      }
      #second_section{
        display: flex;
        justify-content: space-between;
        font-size: 3vh;
        width: 90%;
      }
      #logo_name_moto{
        display: flex;
        gap: 3vh;
        flex-direction: column;
      }
      #Contacts_wrapper{
        font-size: 3.9vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      #logo_title{
        display: flex;
      }
      #title_v2{
        font-size: 11vh;
        position: relative;
        top: 1.5vh;
      }
      .flex_comon{
        display: flex;
        align-items: baseline;
        gap: 1vh;
      }
      #location_wrapper{
        transition: all 0.5s ease;
        color: white;
        text-decoration: none;
      }
      #location_wrapper:hover{
        color: rgb(121, 0, 0);
        cursor: pointer; 
        text-decoration: underline;
      }
      #link_location{
        transition: all 0.5s ease;
        color: #fff;
        text-decoration: none;
      }
      .position_rel_comon{
        position: relative;
        top: -1vh;
      }
      #LogoMMGYM_v2{
        width: 25vh;
      }
      .comn_icon{
        color: white;
        transition: all 0.5s ease-in-out;
      }
      .comn_icon:hover{
        color: rgb(121, 0, 0); 
      }
      #line_wrapper{
        display: flex;
        justify-content: center;
        position: relative;
        top: -1vh;
        height: 2vh;
        align-items: center;
      }
      #line{
        height: 2px;
        background-color: grey;
        width: 90%;
      }
      .comn_space{
        display: flex;
        gap: 2vh;
      }
      #second_section_wrapper{
        display: flex;
        justify-content: center;
      }
      #first_section_wrapper{
        display: flex;
        justify-content: center;
      }
}
