@media only screen and (min-width: 1440px){
 @font-face {
      font-family: "Facon";
      src: url(Fonts/Facon.ttf);
    }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #wholePage{
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
  }
  #theFirstPart{
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: relative;
  }
  .LogoMMGYM{
    width: 20vh;
    animation-play-state: paused;
  }
  #firsttwo_Parts_container{
    height: 100vh;
  }
  #firsttwo_Parts_container video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
    opacity: 0.75;
  }
  #background2{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
    opacity: 0.5;
  }
  #secondPart{
    height: 100%;
    font-size: 5vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000;
    padding-top: 10vh;
  }
  #background4{
    width: 100%;
    height: 100%;
    position: absolute; 
    object-fit: cover;
    z-index: 0;
    opacity: 0.5;
  }
 #background7{
    width: 100%;
    height: 100%;
    position: absolute; 
    object-fit: cover;
    z-index: 0;
    opacity: 0.5;
  }
  #theCollArrow{
    display: flex;
    justify-content: center;
    font-size: 10vh;
  }
  #arrow_link{
    color: rgb(245 222 179 / 78%);;
    opacity: 0;
    transition: all 0.5s ease;
  }
  #firsttwo_Parts_container:hover #arrow_link{
    transform: translateY(20vh);
    opacity: 1;
  }
  #title{
    color: wheat;
    font-family: "Montserrat", sans-serif;
    font-size: 20vh;
    transition-delay: 400ms;
  }
  #moto{
    color: white;
    width: 70%;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    transition-delay: 400ms;
  }
  body{
    background-image: url();
    background-position-x: center;
    background-repeat: no-repeat;
    background-color: black;
    background-attachment: fixed;
    background-size:100%;
    font-family: 'Oswald';
    background-size: cover;
  }
  #navigation_zone{
    font-size: 5vh;
    padding-left: 2vh;
  }
  .link_comn{
    font-size: 2vh;
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    transition: all 1s ease;
  }
  .navigation_bars{
    opacity: 0;
    position: absolute;
}
  }
  .link_comn:hover{
    text-decoration: underline;
    color: black;
  }
  .dropdown_menu_navigation{
    display: flex;
    align-items: center;
    gap: 2vh;
  }
 #navigation_zone:hover .dropdown_menu_navigation{
      opacity: 1;
      pointer-events: all;
    }
  #title_moto{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 5vh;
  }
  .title_scroll_on{
    opacity: 0;
    transition: all 2s ease;
    transform: translateY(100%);
    filter: blur(5px);
  }
  .title_slide_up{
    opacity: 1;
    transform: translateY(0%);
    filter: blur(0);
  }
  .comn_link_top{
    color: wheat;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    transition: all 0.5s ease;
  }
  .comn_link_top:hover{
    text-decoration: underline;
    color: rgb(121, 0, 0);
  }
  #theThirdPart{
    color: #fff;
    height: 100vh;
    overflow: hidden;
    background-color: black;
  }
  .content_box_slide1{
    opacity: 0;
    transition: all 1s ease;
    transform: translateY(100%);
    filter: blur(5px);
  }
   #tag_name{
    position: absolute;
    text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000;
  }
  .about_us_slide1_down{
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
  .content_box_slide2{
    opacity: 0;
    transition: all 1s ease;
    transform: translateX(100%);
    filter: blur(5px);
  }
  .about_us_slide2_right{
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
  #About_us_title_container{
    font-size: 6vh;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    padding: 2vh 0;
    color: wheat;
    position: relative;
    text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000;
  }
  #About_us_content{
    display: flex;
    flex-direction: column;
    font-size: 4vh;
    padding-top: 10vh;
    gap: 10vh;
  }
  .content_box{
    display: flex;
    gap: 10vh;
   justify-content: space-between;
  }
  .content_image{
    height: 30vh;
    border-radius: 5vh;
  }
  .content_box_text{
    text-align: center;
    width: 50%;
  }
  .content_container_section1_3{
    display: flex;
    justify-content: flex-start;
    padding: 0 25vh;
  }
  .content_container_section2{
    display: flex;
    justify-content: flex-end;
    padding: 0 25vh;
  }
  #the4Part{
    height: 100vh;
    font-size: 4.5vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.805);
    position: relative;
  }
  #three_arguments_container_wrapper{
    position: relative;
    top: 15%;
  }
  #heading1{
    font-size: 10vh;
    padding-top: 2vh;
    position: relative;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: rgb(245, 222, 179);
    text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000;
  }
  #three_arguments_container{
    display: flex;
    gap: 50px;
    justify-content: center;
  }
  #argument_one{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40vh;
    gap: 5vh;
    background-color: wheat;
    color: rgba(0, 0, 0, 0.803);
    border-radius: 10px;
    transition: all 1s ease;
  }
  #image_trainer2{
    font-size: 25vh;
  }
  .hidden{
    opacity: 0;
    transition: all 0.5s ease;
    transform: translateY(70%);
    filter: blur(5px);
  }
  #argument_one:hover{
    background-color: #00000000;
    color: #f5deb3;
    cursor: pointer;
  }
  #argument_two:hover{
    background-color: #00000000;
    color: #f5deb3;
    cursor: pointer;
  }
  #argument_three:hover{
    background-color: #00000000;
    color: #f5deb3;
    cursor: pointer;
  }
  .show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
  #argument_two{
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.803);
    text-align: center;
    width: 40vh;
    gap: 5vh;
    background-color: #f5deb3;
    border-radius: 10px;
    transition: all 1s ease;
  }
  #argument_three{
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.812);
    text-align: center;
    width: 40vh;
    gap: 5vh;
    background-color: #f5deb3;
    border-radius: 10px;
    transition: all 1s ease;
  }
  #theLastPart{
    background-color: black;
    color: white;
    height: max-content;
  }
  #first_section{
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  #second_section{
    display: flex;
    justify-content: space-between;
    font-size: 3vh;
    width: 90%;
  }
  #logo_name_moto{
    display: flex;
    gap: 3vh;
    flex-direction: column;
  }
  #Contacts_wrapper{
    font-size: 3.9vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #logo_title{
    display: flex;
  }
  #title_v2{
    font-size: 11vh;
    position: relative;
    top: 1.5vh;
  }
  .flex_comon{
    display: flex;
    align-items: baseline;
    gap: 1vh;
  }
  #location_wrapper{
    transition: all 0.5s ease;
    color: white;
    text-decoration: none;
  }
  #location_wrapper:hover{
    color: rgb(121, 0, 0);
    cursor: pointer; 
    text-decoration: underline;
  }
  #link_location{
    transition: all 0.5s ease;
    color: #fff;
    text-decoration: none;
  }
  #location{
    transition: all 0.5s ease;
  }
  #location_wrapper:hover #location{
    color: rgb(121, 0, 0);
  }
  .position_rel_comon{
    position: relative;
    top: -1vh;
  }
  #LogoMMGYM_v2{
    width: 25vh;
  }
  .comn_link{
    color: white;
    text-decoration: none;
    transition: all 0.5s ease;
  }
  .comn_link:hover{
    text-decoration: underline;
    color: rgb(121, 0, 0); 
  }
  .comn_icon{
    color: white;
    transition: all 0.5s ease;
  }
  .comn_icon:hover{
    color: rgb(121, 0, 0); 
  }
  .comn_icon2{
    color: rgb(0, 0, 0);
    position: relative;
    top: -1vh;
    left: -1vh;
    font-size: 3vh;
    padding: 0.5vh;
    transition: all 0.5s ease;
  }
  #line_wrapper{
    display: flex;
    justify-content: center;
    position: relative;
    top: -1vh;
    height: 2vh;
    align-items: center;
  }
  #line{
    height: 2px;
    background-color: grey;
    width: 90%;
  }
  .comn_space{
    display: flex;
    gap: 2vh;
  }
  #second_section_wrapper{
    display: flex;
    justify-content: center;
  }
  #first_section_wrapper{
    display: flex;
    justify-content: center;
  }
}    
