@media only screen and (max-width: 600px){
    @font-face {
      font-family: "Facon";
      src: url(Fonts/Facon.ttf);
    }
    #wholePage{
        width: 100%;
        margin: 0 auto;
        min-height: 100%;
      }
      #theFirstPart{
        display:flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        position: relative;
      }
      .LogoMMGYM{
        width: 10vh;
        animation-play-state: paused;
      }
      #firsttwo_Parts_container{
        height: 100vh;
      }
      #firsttwo_Parts_container video {
        width: 100%;
        height: 100vh;
        position: absolute;
        object-fit: cover;
        z-index: 0;
        opacity: 0.75;
      }
      #background2{
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        z-index: 0;
        opacity: 0.5;
      }
      #background4{
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        z-index: 0;
        opacity: 0.5;
      }
    #background7{
    width: 100%;
    height: 100%;
    position: absolute; 
    object-fit: cover;
    z-index: 0;
    opacity: 0.5;
  }
      #secondPart{
        height: 100%;
        font-size: 2vh;
        display: flex;
        flex-direction: column;
        gap: 5vh;
        justify-content: center;
        align-items: center;
        text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
      }
      #theCollArrow{
        display: flex;
        justify-content: center;
        font-size: 10vh;
      }
      #arrow_link{
        color: rgb(245 222 179 / 78%);;
        opacity: 0;
        transition: all 0.5s ease;
      }
      #secondPart:hover #arrow_link{
        transform: translateY(20vh);
        opacity: 1;
      }
      #title{
        color: wheat;
        font-family: "Montserrat", sans-serif;
        font-size: 8vh;
      }
      #moto{
        color: white;
        font-family: "Bebas Neue", sans-serif;
        text-align: center;
      }
      body{
        height: 100%;
        background-color: black;
        font-family: 'Oswald';
      }
      #navigation_zone{
        font-size: 5vh;
        padding-left: 2vh;
      }
      .link_comn{
        font-size: 1vh;
        color: #fff;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
        transition: all 1s ease;
      }
      .navigation_bars{
        transition: all 2s ease-in-out;
        color: wheat;
      }
      .link_comn:hover{
    text-decoration: underline;
    color: wheat;
    text-shadow: 0 0 10px gold;
  }
      .dropdown_menu_navigation{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2vh 0vh;
        border-radius: 2vh;
        gap: 2vh;
        position: absolute;
        background: black;
        opacity: 0;
        pointer-events: none;
        transition: all 1s ease;
      }
    #navigation_zone:hover .dropdown_menu_navigation{
      opacity: 1;
      pointer-events: all;
    }
      #title_moto{
        position: relative;
        width: min-content;
      }
      .comn_link_top{
        color: wheat;
        text-decoration: none;
        font-family: "Oswald", sans-serif;
        transition: all 0.5s ease;
      }
      .comn_link_top:hover{
        text-decoration: underline;
        color: rgb(121, 0, 0);
      }
      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      #theThirdPart{
        color: #fff;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.805);
        overflow: hidden;
      }
      .content_box_slide1{
        opacity: 0;
        transition: all 1s ease;
        transform: translateY(100%);
        filter: blur(5px);
      }
      .about_us_slide1_down{
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
      }
      .content_box_slide2{
        opacity: 0;
        transition: all 1s ease;
        transform: translateX(100%);
        filter: blur(5px);
      }
      .about_us_slide2_right{
        opacity: 1;
        transform: translateX(0);
        filter: blur(0);
      }
      #tag_name{
    position: absolute;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    color: #1260da;
    text-decoration: none;
    top: 20vh
  }
    #tag_name:hover{
   text-decoration: underline;
   color: #f5deb3;
  }
      #About_us_title_container{
        font-size: 2.5vh;
        font-family: "Montserrat", sans-serif;
        display: flex;
        justify-content: center;
        padding: 2vh 0;
        color: wheat;
        position: relative;
        text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000;
      }
      #About_us_content{
    display: flex;
    flex-direction: column;
    font-size: 2vh;
    gap: 15vh;
    height: 90vh;
    justify-content: center;
  }
  .content_box{
    display: flex;
    gap: 5vh;
  }
  .content_image{
    height: 20vh;
    border-radius: 5vh;
  }
      .content_box_text{
        text-align: center;
         width: 50%;
      }
    .content_box_image{
    display: flex;
    justify-content: center;
  }
      .content_container_section1_3{
        display: flex;
        justify-content: flex-start;
        padding: 0 2vh;
      }
      .content_container_section2{
        display: flex;
        justify-content: flex-end;
        padding: 0 2vh;
      }
      #the4Part{
        height: 100vh;
        font-size: 2.5vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.805);
        position: relative;
      }
      #three_arguments_container_wrapper{
        position: relative;
        top: 5%;
        display: flex;
        justify-content: center;
        padding-top: 10vh;
      }
      #heading1{
        font-size: 5vh;
        position: relative;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        color: rgb(245, 222, 179);
        text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000;
        padding-top: 2vh;
      }
      #three_arguments_container{
        display: flex;
        gap: 10vh;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
      #argument_one{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 18vh;
        gap: 2vh;
        background-color: wheat;
        color: rgba(0, 0, 0, 0.803);
        border-radius: 10px;
        transition-delay: 200ms;
      }
      .hidden{
        opacity: 0;
        transition: all 2s ease;
        transform: translateY(100%);
        filter: blur(5px);
      }
      #argument_one:hover{
        background-color: rgba(0, 0, 0, 0);
        color: wheat;
      }
      #argument_two:hover{
        background-color: rgba(0, 0, 0, 0);
        color: wheat;
      }
      #argument_three:hover{
        background-color: rgba(0, 0, 0, 0);
        color: wheat;
      }
      .show{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
      }
      #argument_two{
        display: flex;
        flex-direction: column;
        color: rgba(0, 0, 0, 0.803);
        text-align: center;
        width: 18vh;
        gap: 2vh;
        background-color: #f5deb3;
        border-radius: 10px;
        transition-delay: 400ms;
      }
      #argument_three{
        display: flex;
        flex-direction: column;
        color: rgba(0, 0, 0, 0.812);
        text-align: center;
        width: 18vh;
        gap: 2vh;
        background-color: #f5deb3;
        border-radius: 10px;
        transition-delay: 600ms;
      }
      #theLastPart{
        background-color: black;
        color: white;
        height: max-content;
      }
      #first_section{
        display: flex;
        justify-content: space-between;
        width: 90%;
      }
      #second_section{
        display: flex;
        justify-content: space-between;
        font-size: 1.5vh;
        width: 90%;
      }
      #logo_name_moto{
        display: flex;
        gap: 3vh;
        flex-direction: column;
      }
      #Contacts_wrapper{
        font-size: 1.5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      #logo_title{
        display: flex;
        flex-direction: column;
      }
      #moto_wrapper_v2{
        position: relative;
        top: -1vh;
        left: 1vh;
        font-size: 2vh;
      }
      #title_v2{
        font-size: 3vh;
      }
      .flex_comon{
        display: flex;
        align-items: baseline;
        gap: 1vh;
        font-family: Arial, Helvetica, sans-serif;
      }
      #location_wrapper{
        transition: all 0.5s ease;
        color: white;
        text-decoration: none;
      }
      #location_wrapper:hover{
        color: rgb(121, 0, 0);
        text-decoration: underline;
      }
      #link_location{
        transition: all 0.5s ease;
        color: #fff;
        text-decoration: none;
      }
      .position_rel_comon{
        position: relative;
        top: -1vh;
      }
      #LogoMMGYM_v2{
        width: 10vh;
      }
      .comn_icon{
        color: white;
        transition: all 0.5s ease;
      }
      .comn_icon:hover{
        color: rgb(121, 0, 0); 
      }
      #line_wrapper{
        display: flex;
        justify-content: center;
        position: relative;
        top: -1vh;
        height: 2vh;
        align-items: center;
      }
      #line{
        height: 2px;
        background-color: grey;
        width: 90%;
      }
      .comn_space{
        display: flex;
        gap: 1vh;
      }
      #second_section_wrapper{
        display: flex;
        justify-content: center;
      }
      #first_section_wrapper{
        display: flex;
        justify-content: center;
      }
      #image_trainer2{
        width: 15vh;
      }
}
